In [64]:
from pandas import read_csv
transactions = read_csv("C:\\Users\\palej\\Desktop\\FIUBA\\Organizacion de datos\\TP\\transactions_train.csv")

In [65]:
def tipo_transferencia(numero) -> str:
    if numero == 0:
        return "Legal"
    else:
        return "Fraude"
    
def unicidad_correo(string) -> str:
    lista = ["yahoo", "gmail", "hotmail", "outlook", "live"]
    for correo in lista:
        match string.lower().find(correo):
            case -1:
                continue
            case _:
                return f"{correo}.com"
    return string

In [66]:
transactions

,Unnamed: 0,Id,target,timestamp,ammount,product_category,feat_card_1,feat_card_2,feat_card_3,feat_card_4,...,D330,D331,D332,D333,D334,D335,D336,D337,D338,D339
0,0,2987000,0,86400,68.50,W,13926,NaN,150.0,discover,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2987001,0,86401,29.00,W,2755,404.0,150.0,mastercard,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2987002,0,86469,59.00,W,4663,490.0,150.0,visa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2987003,0,86499,50.00,W,18132,567.0,150.0,mastercard,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2987004,0,86506,50.00,H,4497,514.0,150.0,mastercard,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501954,501954,3488954,0,13151575,29.00,W,7919,194.0,150.0,mastercard,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501955,501955,3488955,0,13151580,312.95,W,7919,194.0,150.0,mastercard,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501956,501956,3488956,0,13151717,774.00,W,7919,194.0,150.0,mastercard,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501957,501957,3488957,0,13151720,226.00,W,7919,194.0,150.0,mastercard,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501958,501958,3488958,0,13151840,97.00,W,7919,194.0,150.0,mastercard,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
for numero in range(1, 340):
    transactions.pop(f"D{numero}")

In [68]:
for numero in range(1, 10):
    transactions.pop(f"C{numero}")

In [69]:
for numero in range(1, 16):
    transactions.pop(f"B{numero}")

In [70]:
for numero in range(1, 15):
    transactions.pop(f"A{numero}")

In [71]:
transactions

,Unnamed: 0,Id,target,timestamp,ammount,product_category,feat_card_1,feat_card_2,feat_card_3,feat_card_4,feat_card_5,feat_card_6,addr1,addr2,dist1,dist2,payer_email_domain,receiver_email_domain
0,0,2987000,0,86400,68.50,W,13926,NaN,150.0,discover,142.0,credit,315.0,87.0,19.0,NaN,NaN,NaN
1,1,2987001,0,86401,29.00,W,2755,404.0,150.0,mastercard,102.0,credit,325.0,87.0,NaN,NaN,gmail.com,NaN
2,2,2987002,0,86469,59.00,W,4663,490.0,150.0,visa,166.0,debit,330.0,87.0,287.0,NaN,outlook.com,NaN
3,3,2987003,0,86499,50.00,W,18132,567.0,150.0,mastercard,117.0,debit,476.0,87.0,NaN,NaN,yahoo.com,NaN
4,4,2987004,0,86506,50.00,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,87.0,NaN,NaN,gmail.com,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501954,501954,3488954,0,13151575,29.00,W,7919,194.0,150.0,mastercard,166.0,debit,325.0,87.0,NaN,NaN,anonymous.com,NaN
501955,501955,3488955,0,13151580,312.95,W,7919,194.0,150.0,mastercard,166.0,debit,205.0,87.0,NaN,NaN,gmail.com,NaN
501956,501956,3488956,0,13151717,774.00,W,7919,194.0,150.0,mastercard,166.0,debit,472.0,87.0,NaN,NaN,gmail.com,NaN
501957,501957,3488957,0,13151720,226.00,W,7919,194.0,150.0,mastercard,166.0,debit,181.0,87.0,1.0,NaN,NaN,NaN
501958,501958,3488958,0,13151840,97.00,W,7919,194.0,150.0,mastercard,166.0,debit,325.0,87.0,NaN,NaN,gmail.com,NaN

In [72]:
analisis = transactions[["target", "feat_card_6", "payer_email_domain"]]

In [73]:
analisis = analisis.rename(columns={"target":"Transaccion", "feat_card_6":"Banco", "payer_email_domain":"Correo"})

In [74]:
analisis = analisis.fillna("Otro")

In [75]:
analisis.Transaccion = analisis.Transaccion.map(tipo_transferencia)

In [76]:
analisis_banco = analisis.pivot_table(values="Correo", index="Banco", columns="Transaccion", aggfunc="count")

In [77]:
analisis_banco = analisis_banco.fillna(0)

In [78]:
analisis_banco["Promedio fraude en %"] = round(analisis_banco.Fraude * 100 / (analisis_banco.Fraude + analisis_banco.Legal), 2)

In [79]:
analisis_banco

Transaccion      Fraude     Legal  Promedio fraude en %
Banco
Otro               24.0     804.0                  2.90
charge card         0.0      15.0                  0.00
credit           8626.0  119575.0                  6.73
debit            8930.0  363955.0                  2.39
debit or credit     0.0      30.0                  0.00

In [80]:
analisis_correo = analisis.pivot_table(values="Banco", index="Correo", columns="Transaccion", aggfunc="count")

In [81]:
analisis_correo = analisis_correo.fillna(0)

In [82]:
analisis_correo = analisis_correo.reset_index()

In [84]:
analisis_correo["Unicidad de correo"] = analisis_correo.Correo.map(unicidad_correo)

In [85]:
analisis_correo = analisis_correo.groupby("Unicidad de correo").sum()

In [86]:
analisis_correo.pop("Correo")

Unicidad de correo
Otro                                                             Otro
aim.com                                                       aim.com
anonymous.com                                           anonymous.com
aol.com                                                       aol.com
att.net                                                       att.net
bellsouth.net                                           bellsouth.net
cableone.net                                             cableone.net
centurylink.net                                       centurylink.net
cfl.rr.com                                                 cfl.rr.com
charter.net                                               charter.net
comcast.net                                               comcast.net
cox.net                                                       cox.net
earthlink.net                                           earthlink.net
embarqmail.com                                         embarqmail.com
frontier.com                                             frontier.com
frontiernet.net                                       frontiernet.net
gmail.com                                              gmailgmail.com
gmx.de                                                         gmx.de
hotmail.com         hotmail.co.ukhotmail.comhotmail.dehotmail.esho...
icloud.com                                                 icloud.com
juno.com                                                     juno.com
live.com                                   live.comlive.com.mxlive.fr
mac.com                                                       mac.com
mail.com                                                     mail.com
me.com                                                         me.com
msn.com                                                       msn.com
netzero.com                                               netzero.com
netzero.net                                               netzero.net
optonline.net                                           optonline.net
outlook.com                                     outlook.comoutlook.es
prodigy.net.mx                                         prodigy.net.mx
protonmail.com                                         protonmail.com
ptd.net                                                       ptd.net
q.com                                                           q.com
roadrunner.com                                         roadrunner.com
rocketmail.com                                         rocketmail.com
sbcglobal.net                                           sbcglobal.net
sc.rr.com                                                   sc.rr.com
servicios-ta.com                                     servicios-ta.com
suddenlink.net                                         suddenlink.net
twc.com                                                       twc.com
verizon.net                                               verizon.net
web.de                                                         web.de
windstream.net                                         windstream.net
yahoo.com           yahoo.co.jpyahoo.co.ukyahoo.comyahoo.com.mxyah...
ymail.com                                                   ymail.com
Name: Correo, dtype: object

In [87]:
analisis_correo["Promedio fraude en %"] = round(analisis_correo.Fraude * 100 / (analisis_correo.Fraude + analisis_correo.Legal), 2)

In [91]:
analisis_correo

Transaccion         Fraude     Legal  Promedio fraude en %
Unicidad de correo
Otro                2346.0   76080.0                  2.99
aim.com               40.0     246.0                 13.99
anonymous.com        731.0   31024.0                  2.30
aol.com              545.0   23522.0                  2.26
att.net               22.0    3344.0                  0.65
bellsouth.net         47.0    1639.0                  2.79
cableone.net           3.0     135.0                  2.17
centurylink.net        0.0     174.0                  0.00
cfl.rr.com             0.0     142.0                  0.00
charter.net           16.0     701.0                  2.23
comcast.net          203.0    6677.0                  2.95
cox.net               24.0    1177.0                  2.00
earthlink.net          6.0     433.0                  1.37
embarqmail.com         7.0     220.0                  3.08
frontier.com           1.0     241.0                  0.41
frontiernet.net        5.0     158.0                  3.07
gmail.com           8511.0  186133.0                  4.37
gmx.de                 0.0     124.0                  0.00
hotmail.com         2038.0   37730.0                  5.12
icloud.com           172.0    5146.0                  3.23
juno.com               6.0     281.0                  2.09
live.com             103.0    3185.0                  3.13
mac.com               11.0     365.0                  2.93
mail.com              96.0     385.0                 19.96
me.com                19.0    1315.0                  1.42
msn.com               62.0    3445.0                  1.77
netzero.com            0.0     202.0                  0.00
netzero.net            1.0     169.0                  0.59
optonline.net         17.0     863.0                  1.93
outlook.com          446.0    4256.0                  9.49
prodigy.net.mx         1.0     183.0                  0.54
protonmail.com        31.0      37.0                 45.59
ptd.net                0.0      62.0                  0.00
q.com                  0.0     162.0                  0.00
roadrunner.com         3.0     253.0                  1.17
rocketmail.com         2.0     559.0                  0.36
sbcglobal.net         11.0    2549.0                  0.43
sc.rr.com              1.0     135.0                  0.74
servicios-ta.com       0.0      28.0                  0.00
suddenlink.net         4.0     118.0                  3.28
twc.com                0.0     203.0                  0.00
verizon.net           15.0    2364.0                  0.63
web.de                 0.0     201.0                  0.00
windstream.net         0.0     240.0                  0.00
yahoo.com           1989.0   85789.0                  2.27
ymail.com             45.0    1984.0                  2.22

In [88]:
analisis_correo.describe()

Transaccion       Fraude          Legal  Promedio fraude en %
count          46.000000      46.000000             46.000000
mean          382.173913   10529.978261              3.380870
std          1337.210734   31895.376203              7.332117
min             0.000000      28.000000              0.000000
25%             1.000000     176.250000              0.415000
50%            11.000000     375.000000              1.965000
75%            58.250000    3026.000000              2.980000
max          8511.000000  186133.000000             45.590000

In [89]:
analisis_correo[ analisis_correo["Promedio fraude en %"] == 0 ]

Transaccion         Fraude  Legal  Promedio fraude en %
Unicidad de correo
centurylink.net        0.0  174.0                   0.0
cfl.rr.com             0.0  142.0                   0.0
gmx.de                 0.0  124.0                   0.0
netzero.com            0.0  202.0                   0.0
ptd.net                0.0   62.0                   0.0
q.com                  0.0  162.0                   0.0
servicios-ta.com       0.0   28.0                   0.0
twc.com                0.0  203.0                   0.0
web.de                 0.0  201.0                   0.0
windstream.net         0.0  240.0                   0.0

In [90]:
analisis_correo[ analisis_correo["Promedio fraude en %"] == 45.59 ]

Transaccion         Fraude  Legal  Promedio fraude en %
Unicidad de correo
protonmail.com        31.0   37.0                 45.59